{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-helm",
      {
        "chartPath": "./",
        "onlyUpdateVersion": true
      }
    ],
    [
      "@semantic-release/exec",
      {
        "analyzeCommitsCmd": "echo ${lastRelease.version} > .release-version",
        "prepareCmd": "echo ${nextRelease.version} > .release-version && helm package ./ -d ."
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "*.tgz"
        ]
      }
    ]
  ]
}
